
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* variables css */
:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}
/* color */
:root {
    --first-color: #e55947;
    --first-color-alt: #d2321e;
    --white-color: #fafaff;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #f0f1f3;
}
/* tipo */
:root {
    --body-font: 'open sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --normal-font:.938rem;
    --small-font: .75rem;
}

@media (min-width:768px) {
    :root {
        --big-font-size: 6rem;
        --h1-font: 2.25rem;
        --h2-font: 1.5rem;
        --normal-font: 1rem;
        --small-font: .813rem;
    }
    
}

/* margenes */

:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* z-index */
:root {
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* base */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height), 0, 0, 0;
    font-family: var(--body-font);
    font-size: var(--normal-font);
    color: var(--dark-color);
    line-height: 1.6;
}

/* class CSS */
.section {
    padding: 3rem 0;
}

.section-title {
    font-size: var(--h2-font);
    color: var(--dark-color);
    margin: var(--mb4) 0 var(--mb-1);
    text-align: center;
}
.section-all {
    display: block;
    font-size: var(--small-font);
    font-weight: var(--font-semi); 
    color: var(--dark-color);
    text-align: center;
    margin-bottom: var(--mb-2);
}

/* layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

/* header */

.l-header {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: var(--z-fixed);
    background: var(--gray-color);
}

 .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    
    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background: var(--white-color);
        transition: .5s;
    } 
}

.nav_item {
 margin-bottom: var(--mb-4);
}
.nav_link {
    color: var(--dark-color);
    font-weight: var(--font-semi);
    text-transform: capitalize;

}
.nav_link:hover {
     color: var(--first-color);
}
.nav_logo {
    font-weight: var(--font-bold);
}
.nav_cart {
    font-size: 1.3rem;
    margin-right: var(--mb-2);
}
.nav_toggle {
    font-size: 1.3rem;
    cursor: pointer;
} 

/* show menu */
.show {
    right: 0;
}
.active {
    color: var(--first-color);
} 


/* main */
.home {
    background: var(--gray-color);
}
.home_container {
    height: calc( 100vh - var(--header-height));
}
.home_data {
    padding-top: 6rem;
}
.home_title {
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
}
.home_title span {
    font-size: var(--h1-font);
}
.home_img {
    position: absolute;
    right: 0; bottom: 0;
    width: 260px;
}

/* BUTTONS */
.button {
    display: inline-block;
    background: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font);
    font-weight: var(--font-semi);
    transition: .3s;
}
.button:hover {
    background: var(--first-color-alt);
}